.bookmark {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin: 15px 30px;

    position: relative;
}
/* 固定的书签图标右下角添加一个三角形 */
.fixed-bookmark::after {
    content: '';
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: transparent#fdda66 #fdda66 transparent;
    border-bottom-right-radius: 2px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 1px 1px 2px 0 black;
}


/* Bookmark icon */
.bookmark-icon {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 #000000b4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bookmark-icon:hover {
    /* 阴影向四周扩散 */
    /* box-shadow: 3px 3px 100px rgb(83, 83, 231); */
    box-shadow: 0 0 5px 0 #464646b3, 2px 0 5px 0 #464646b3;
    margin-top: -1px;
}
.bookmark-icon:active {
    box-shadow: 0 0 5px 0 #464646b3;
    margin-top: 0px;
}

/** 标题 **/
.bookmark-title {
    text-align: center;
    font-size: 12px;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}