* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}
.body {
    height: 84%;
    padding-top: 15px;
    display:none;
}
.home {
    height: 84%;
    background-color: gray;
}

/** 图标主面板 **/
@media screen and (max-width: 767px){
    .main {
        width: 94%;
        margin-left: 3%;
    }
}
@media screen and (min-width:768px){
    .main {
        width: 94%;
        margin-left: 3%;
    }
}
@media screen and (min-width:1024px){
    .main {
        width: 80%;
        margin-left: 10px;
    }
}
.main {
    float: left;
    height: 95%;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #0009;  
    background-color: #ffffff;
}
/** 书签图标wrapper **/
.main ul {
    padding-left: 2%;
}
.bookmark-wrapper {
    width: 96%;
    height: 90%;
    overflow-y: auto;
}


/** 主面板底部分页 **/
.main .tb-btn {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    bottom: 0;
    height: 15px;
    width: 100%;
    margin-left:0!important;
    left:0!important;
}
.main .tb-btn a {
    width: 100px;
    height: 15px;
    margin: 0;
    border-right: 1px solid #fff;
    border-radius: 0;
    background: #666;

    flex-grow: 1;
    flex-shrink: 1;
}
/* 最后一个分页按钮不能有右边框，否则会有白边*/
.main .tb-btn a:last-child {
    border: 0;
}