* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}
.body {
    height: 80%;
    padding-top: 15px;
}

/** 图标主面板 **/
@media screen and (min-width:768px){
    .main {
        width: 94%;
        margin-left: 3%;
    }
}
@media screen and (min-width:1024px){
    .main {
        width: 80%;
        margin-left: 10px;
    }
}
.main {
    float: left;
    height: 95%;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0px #333333;  
    background-color: #ffffff;
}
/** 书签图标wrapper **/
.main ul {
    padding-left: 2%;
}
.bookmark-wrapper {
    width: 96%;
    height: 90%;
    overflow-y: auto;
}


/** 主面板底部分页 **/
.main .tb-btn {
    bottom: 5px;
    height: 20px;
    width: 90%;
}
.main .tb-btn a {
    width: 100px;
    height: 20px;
    margin: 0;
    border-right: 1px solid #fff;
    border-radius: 2px;
    background: #666;
}