/** 头部 **/
.head {
    height: 15%;
    min-height: 100px;
}

#nav-first {
    height: 20%;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background-color: #FFFFFF;   
}

.nav-padding {
    height: 10%;
}

#nav-second {
    height: 60%;
    max-height: 60px;
    padding-left: 10%;
    padding-right: 10px;
    box-shadow: 0px 1px 4px 0px rgb(200, 200, 200);
    background-color: #FFFFFF;
}

/** 第一行导航栏按钮 **/
.nav-button {
    float: left;
    width: 120px;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: rgb(240, 240, 240);
    text-align: center;
    /*使字体垂直居中*/
    line-height: 60px;
}
.nav-button a {
    display: block;
    height: 100%;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    color: #5f6f81;
    cursor: pointer;
}
.nav-button:hover {
    background-color: rgb(240, 240, 240);
}

/** 搜索框 **/
.search-container {
    position: relative;
    float: right;
    width: 300px;
    height: 70%;
    margin-top: 10px;
    margin-right: 50px;   
}
.search-input {
    float: left;
    width: 300px;
    height: 100%;
    padding-left: 10px;
    border-radius: 3px;
}
.search-button {
    position: absolute;
    right: 0px;
    top: 0px;
    float: left;
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #23b7e5;
    cursor: pointer;
}
.search-button:hover {
    background-color: #19a9d5;
}
.search-button:active {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.325) inset;
}
.search-button::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

/** 头像 **/
.avatar {
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgb(200, 200, 200);
    background-image: url("../img/profile.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.avatar:hover {
    box-shadow: 3px 3px 3px 0px #555555;
}

/** 用户菜单 **/
.profile-menu {
    display: none;
    position: absolute;
    top: 95px;
    right: 10px;
    width: 150px;
    box-shadow: 0px 1px 4px 0px rgb(200, 200, 200);
    z-index: 100;
    background-color: #FFF;
}
.profile-menu ul {
    display: block;
    padding: 5px 0px;
    margin: 0px;
    list-style-type: none;
}
.profile-menu ul li a {
    display: block;
    padding: 2px 5px;
    color: #444;
    text-decoration: none;
    line-height: 24px;
    font-size: 13px;
    text-indent: 2em; 
}
.profile-menu ul li a:hover {
    background-color: rgb(238, 238, 238);
}