/** 头部 **/

#header {
    height: 100px;
}

#menu_first {
    height: 20%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
}

.menu_padding {
    height: 14%;
}

#menu_second {
    height: 60%;
    background-color: #FFFFFF;
    /* box-shadow: 3px 3px 3px rgb(220, 220, 220); */
    box-shadow: 0px 1px 4px 0px rgb(200, 200, 200);
    padding-left: 15%;
    padding-right: 10px;
}

.menu_button {
    height: 100%;
    float: left;
    width: 120px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: rgb(240, 240, 240);
    text-align: center;
    /*使字体垂直居中*/
    line-height: 60px;
}

.menu_button a {
    display: block;
    height: 100%;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    color: #5f6f81;
    cursor: pointer;
}

.menu_button:hover {
    background-color: rgb(240, 240, 240);
}

.search_box {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    height: 70%;
    width: 300px;
    position: relative;
}

.search_text {
    height: 100%;
    width: 300px;
    float: left;
    border: 2px solid #7BA7AB;
    border-radius: 3px;
    padding-left: 10px;
}

.search_button {
    float: left;
    height: 100%;
    width: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background-color: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search_button::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.user_box {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    background-image: url(../img/profile.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgb(200, 200, 200);
}

.user_box:hover {
    box-shadow: 3px 3px 3px 0px #555555;
}

#user_panel {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #FFF;
    box-shadow: 0px 1px 4px 0px rgb(200, 200, 200);
    z-index: 100;
    top: 95px;
    right: 10px;
}

#user_panel ul {
    list-style-type: none;
    display: block;
    padding: 5px 0px;
    margin: 0px;
}

#user_panel ul li a {
    color: #444;
    text-decoration: none;
    line-height: 24px;
    display: block;
    font-size: 13px;
    text-indent: 2em;
    padding: 2px 5px;
}

#user_panel ul li a:hover {
    background-color: rgb(238, 238, 238);
}