/** 侧边栏 **/
.sidebar {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}
@media screen and (min-width:1024px) {
    .sidebar {
        display:block;
        float: left;
        width: 15%;
        height: 100%;
        margin-left: 15px;
        margin-right: 10px;
    }
}