* {
    outline: none;/*去除按钮点击产生的蓝框*/
 }
/** 书签添加/编辑面板 **/
.hamster-input {
    border: 1px solid #23b7e5;
    border-radius: 2px;
}
.bookmark-edit-panel {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.bookmark-edit-form {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
/** URL输入框 **/
.bookmark-form-url {
    position: relative;
    width: 90%;
}
#bookmarkFormUrlText {
    float: left;
    width: 100%;
    height: 35px;
}
#bookmarkFormUrlGet {
    position: absolute;
    right: 0px;
    top: 0px;
    float: left;  
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #23b7e5;
    cursor: pointer;
    color: #dcf2f8;
}
#bookmarkFormUrlGet:hover {
    background-color: #19a9d5;
}
#bookmarkFormUrlGet:active {
    border: none;
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,.325) inset;
}
#bookmarkFormUrlGet::before {
    margin-right: 5px;
    content: "\f021";
    font-family: FontAwesome;
    font-size: 16px;
    color: #dcf2f8;
}

#bookmarkFormTitle {
    margin-top: 8px;
    width: 90%;
    height: 35px;
}
#bookmarkFormDescription {
    margin-top: 8px;
    float: left;
    width: 90%;
    height: 60px;
}
/** 书签添加面板分类下拉菜单 **/
.bookmark-form-category-tree {
    float: left;
    width: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
}
/** 书签添加面板标签添加 **/
.tag-editor {
    width: 90%;
    border: 1px solid #23b7e5 !important;
}

/** 横线 **/
.line {
    width: 100%;
    height: 1px;
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
}

/** 图标编辑组件 **/
.icon-wrapper {
    width: 100%;
}
.icon-editor {
    float: left;
}
#iconImage {
    width: 200px;
    height: 200px;
}
/** 图标预览 **/
.bookmark-form-icon-preview {
    float: left;
    margin-left: 20px;
    width: calc(90% - 200px);
    height: 305px;
}
.icon-preview {
    margin: 20px;
    overflow: hidden;
    border-radius: 13px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background-color: #000;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}
.icon-preview:hover {
    box-shadow: 3px 3px 100px rgb(83, 83, 231);
    /* 阴影向四周扩散 */
    box-shadow: 3px 3px 15px rgb(83, 83, 231);
    /* 略微扩散，图标浮起 */
    box-shadow: 1px 1px 6px rgb(83, 83, 231);
    box-shadow: 3px 0px 10px grey;
}
.preview-sm {
    width: 55px;
    height: 55px;
}
.preview-md {
    width: 100px;
    height: 100px;   
}

/** 书签编辑面板按钮 **/
.button-group {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    border-radius: 0px 0px 4px 4px;
    border-top: 1px solid #eee;
    background-color: rgb(240, 240, 240);
}
/** 普通按钮 **/
.hamster-button {
    width: 60px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,.325);
    color: #dcf2f8;
    background-color: #23b7e5;
    /* cursor: pointer; */
}
.hamster-button:hover {
    background-color: #19a9d5;
}
.hamster-button:active {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.325) inset,1px 1px 2px 0px rgba(0,0,0,.325);
}
/** 图标上传按钮 **/
.form-upload {
    margin-top: 10px;
    margin-left: 20px;
}

.form-empty,
.form-cancel,
.form-ok {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

/** 分类添加面板 **/
.category-add-panel {
    display: none;
}
.category-add-text {
    width: 300px;
    height: 30px;
}

/** 书签预览 **/
.bookmark-preview {
    display:none;
    width: 400px;
    height:180px;
    font-size: 12px;
    font-family:"Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",SimSun,Helvetica,Arial,Sans-serif,monospace;
}
.preview-img {
    float: left;
    width: 180px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.preview-info {
    width: calc(100% - 180px);
    height: 100%;
    float: left;
    overflow-y: auto;
}
/*隐藏滚动条*/
/* .preview-info::-webkit-scrollbar {display:none} */
.preview-des {
    font-weight: 300;
    font-size: 12px;
}
.preview-title{
    margin: 3px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(85, 85, 85); 
}
.preview-description{
    margin: 3px;
    border-top: 1px dashed rgba(0,0,0,.325);
    font-size: 12px;
    color: #848383;
}
.preview-category{
    margin: 3px;
    font-size: 12px;
}
.preview-tag-wrapper{
    margin: 3px;
}
.preview-tag{
    display:inline-block;
    line-height: 20px;
    border-radius: 4px;
    margin:2px 2px;
    padding: 2px;
    background-color: #87CEFA;
    font-size: 12px;
    text-decoration: none;
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,.325);
    color: black;
}
.preview-tag:hover {
    background-color: #46b2f5;
}
.preview-tag:active {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.325) inset,1px 1px 2px 0px rgba(0,0,0,.325);
}

/** 用户配置弹窗 **/
.user-config-panel {
    display: none;
    height: 100%;
    width: 100%;
}
.user-config-form-icon-preview {
    float: left;
    margin-left: 20px;
    width: calc(90% - 200px);
    height: 305px;
}
#avatarImage{
    width: 200px;
    height: 200px;
}
.avatar-preview {
    margin: 20px;
    overflow: hidden;
    border-radius: 13px;
    box-shadow: 3px 3px 3px rgb(220, 220, 220);
    background-color: #000;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}
.avatar-preview:hover {
    box-shadow: 3px 3px 100px rgb(83, 83, 231);
    /* 阴影向四周扩散 */
    box-shadow: 3px 3px 15px rgb(83, 83, 231);
    /* 略微扩散，图标浮起 */
    box-shadow: 1px 1px 6px rgb(83, 83, 231);
    box-shadow: 3px 0px 10px grey;
}
#userConfigFormNickname {
    height: 30px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
}